@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>BlazorAut</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @if (authenticationState != null && authenticationState.User.Identity.IsAuthenticated)
                    {
                        <span>Welcome, @authenticationState.User.Identity.Name</span>
                    }
                </Authorized>
                <NotAuthorized>
                    <a href="/request-code">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        StateHasChanged(); // Обновляем состояние компонента после получения данных аутентификации
    }
}
